

.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background:  url("../img/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
  background-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


.no-svg .nav-btn {
  background-image: url("../img/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#inner-wrap {
  position: relative;
  width:100%;
}

#navbar {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
#navbar .close-btn {
  display: none;
}

#navbar ul:after {
  clear: both;
}


@media screen and (min-width: 768px) {

  #navbar .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
 
}
@media screen and (max-width: 768px) {
  #navbar {
    position: absolute;
    top: 0;
    padding-top: 40px;
	padding-right:0;
	
	overflow:visible;
  }
  #navbar:not(:target) {
    z-index: 1;
    height: 0;
  }
  #navbar:target .close-btn {
    display: block;
  }
  #navbar .close-btn {
    position: absolute;
    top: 10px;
	left:30px;
  }
  #navbar .block {
    position: relative;
    padding: 0;
  }
  
  .js-ready #navbar {
    height: 100%;
    width: 70%;
    background: #000000;
    -webkit-box-shadow: inset -3px 0 10px -1px rgba(118, 185, 0, 0.8);
    -moz-box-shadow: inset -3px 0 10px -1px rgba(118, 185, 0, 0.8);
    box-shadow: inset -3px 0 10px -1px rgba(118, 185, 0, 0.8);
  }
  .js-ready #navbar .block {
    background: transparent;
  }
  .js-ready #navbar .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.5;
  }
  .js-ready #navbar .close-btn:focus, .js-ready #navbar .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #navbar {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }
}
